<h1 class="my-4 text-3xl font-bold">
  <%= t("greetings.welcome", name: current_user.name) %>
</h1>

<dl class="py-4">
  <dt class="font-bold">
    <%= t("activerecord.models.user.registration.attribute.name") %>
  </dt>

  <dd><%= current_user.name %></dd>

  <dt class="font-bold">
    <%= t("activerecord.models.user.registration.attribute.email") %>
  </dt>

  <dd><%= current_user.email %></dd>
</dl>

<div class="py-8">
  <% if current_user.docusign_authentication %>
    <p class="font-bold"><%= t("common.connected_service", service: Constants::DOCUSIGN) %>:</p>

    <p>
      <%= current_user.docusign_authentication.email %>
      <br />
      <%= link_to t("actions.disconnect"),
        user_authentication_path(:docusign),
        method: :delete,
        data: {
          confirm: t("actions.confirm.disconnect_service", service: Constants::DOCUSIGN)
        }
      %>
    </p>
  <% else %>
    <p>
      <%= link_to t("actions.connect_service", service: Constants::DOCUSIGN),
        omniauth_path(:docusign) %>
    </p>
  <% end %>
</div>

<div class="py-8">
  <%= link_to t("actions.logout"),
    signout_path,
    method: :delete,
    class: "btn btn-blue-outline" %>
</div>
