<h1 class="my-4 text-3xl font-bold">
  <%= t("greetings.welcome", name: current_user.name) %>
</h1>

<dl class="py-4">
  <dt class="font-bold">
    <%= t("activerecord.models.user.registration.attribute.name") %>
  </dt>

  <dd><%= current_user.name %></dd>

  <dt class="font-bold">
    <%= t("activerecord.models.user.registration.attribute.email") %>
  </dt>

  <dd><%= current_user.email %></dd>
</dl>

<div class="py-8">
  <%= render 'oauth/manage_connection', provider: :docusign %>
  <%= render 'oauth/manage_connection', provider: :calendly %>
</div>

<div class="py-8">
  <%= link_to t("actions.logout"),
    signout_path,
    method: :delete,
    class: "btn btn-blue-outline" %>
</div>
